@font-face {
    font-family: "google-sans";
    src: url(assets/fonts/google-font.woff2) format("woff2");
    font-display: swap;
}

.google-font{
    font-family: "google-sans", Helvetica, Arial, Sans-Serif
}

.v-main__wrap, .v-toolbar {
    background: #fff !important;
}

.primary-text {
    color: #4884f3;
}

.banner {
    background: black;
    font-size: 1rem;
}
.theme-color {
    background-color: rgb(245, 248, 252) !important;
}

.border-details-block {
    border: 1px solid #d4d3d3;
    border-radius: 20px;
    margin: 80px 0;
    padding: 25px 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px 0px, rgb(218, 220, 224) 0px -1px 0px 0px inset !important;
}

/* Large Scale Display */
@media screen and (min-width: 600px) {
    .gdg-heading {
      font-family:'google-sans';
      font-size: 35px;
      font-weight: 300;
    }
    .gdg-subheading {
      font-family:'google-sans';
      font-size: 30px;
      font-weight: 300;
    }
  }
  
  /* Small Scale Display */
  @media only screen and (max-width: 600px) {
      .gdg-heading {
          font-family:'google-sans';
          font-size: 23px;
          font-weight: 300;
      }
      .gdg-subheading {
          font-family:'google-sans';
          font-size: 20px;
          font-weight: 300;
      }
  }
