@font-face {
    font-family: "google-sans";
    src: url(assets/fonts/google-font.woff2) format("woff2");
    font-display: swap;
}

.google-font{
    font-family: "google-sans", Helvetica, Arial, Sans-Serif
}

.v-main__wrap, .v-toolbar {
    background: #fff !important;
}

.primary-text {
    color: #4884f3;
}

/* Large Scale Display */
@media screen and (min-width: 600px) {
    .gdg-heading {
      font-family:'google-sans';
      font-size: 35px;
      font-weight: 300;
    }
    .gdg-subheading {
      font-family:'google-sans';
      font-size: 30px;
      font-weight: 300;
    }
  }
  
  /* Small Scale Display */
  @media only screen and (max-width: 600px) {
      .gdg-heading {
          font-family:'google-sans';
          font-size: 23px;
          font-weight: 300;
      }
      .gdg-subheading {
          font-family:'google-sans';
          font-size: 20px;
          font-weight: 300;
      }
  }
